@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Open+Sans&display=swap');
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.main 
{
    width: 100%;
    position: relative;
    background-color: gray;
    display: flex;
    
}

.main-page
{
    width: 92%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 8%;
}

/* left side navigation style  */

.navigation 
{
    width: 8%;
    height: 100vh;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    position: fixed;
    /* background: linear-gradient(90deg, #000000, #000000d8) ; */
    background-color: #0f1014;
    z-index: 2;
}

.logo 
{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    text-align: center;
    padding-left: 0;
}

.logo-img
{
    width: 50px;
}



/* fixed banner css  */


.l1{
    padding-top:40px !important;
    /* text-align: center !important; */
    padding-left: 35px;
    
}

.l1 i{
    color:white;
    font-size: 19px;
}
.l2 p{

    padding-top: 29px !important;
    font-size: 18px !important;
}
.subscribe a{
    background-color:#504836 ;
    border-radius: 30px ;
    color:goldenrod;
    padding:5px;
    text-decoration: none;
    font-size: 15px;    
}

.nav2{
    opacity: 0;
    /* position: absolute; */
    /* left:-150px; */
}


.l1:hover .nav2{
opacity:0.9;
transition-duration: 0.5s;
transform: translateX(10px);

/* background:linear-gradient(to right, #16181f 4%,transparent,transparent,transparent); */

}
.l1 i:hover{
    font-size: 22px;
}

.nav-links{
    align-items: center;
    justify-content: center;
    /* display: flex; */
}
.banner 
{
    width: 100%;
    height: 110vh;
    /* background-color: red; */
    display: flex;
    position: fixed;
    justify-content: flex-end;
    overflow: hidden;
  
}

.banner-overlay-1
{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,#16181f 16%,transparent,transparent);
    position: absolute;
}
.banner-overlay-2
{
    width: 100%;
    height: 100%;
    background:linear-gradient(to top,#16181f 4%,transparent,transparent);
    position: absolute;
}

.banner-img
{
    height:100%;
}


/* banner movie css  */

.main-area
{
    width: 100%;
    height: 300vh;
    position: absolute;
    margin-top: 30vh;
}

.banner-movie-detail
{
    width: 100%;
    /* background-color: red; */
    padding: 20px 0px;
}

.detail
{
    width: 100%;
    height: 100%;
    padding: 12px;
    /* background-color: red; */
}

.title-img
{
    width: 100%;
}

/* .movie-detail
{
    width: 100%;
    display: flex;
    
    font-weight: bold;
    column-gap: 15px;
    align-items: center;
    margin-top: 10px;
    color: white;
    
} */

.movie-details{
    width:100%;
}
.movie-name{
    font-family: 'Nosifer', sans-serif !important;
    font-size:30px;
    color:white;
}

.details{
    display: flex;
}
.details p{
padding:3px;
}

.ua{
    background-color: #807c73;
    border-radius: 5px;
    padding:5px;
}

.text1 p{
    width:32%;

}


.plus{
padding-left:10px;
}

.watchnow a{
    background-color: #2e2c2c;
    border-radius: 5px;
    padding: 5px 100px;
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
}

.plus i{
    background-color: #2e2c2c;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 20px;
}


/* .dot 
{
    width: 4px;
    height: 4px;
    /* background-color: gray; */
    /* display: block; */
    /* border-radius: 50%; */
/* } */



/* movies section css  */



.movies-section
{
    width: 100%;
    padding:20px 0px 20px 10px;
    background-color: #0f1014;
}

.movies-section:nth-child(1)
{
    background-color: transparent;
}

.movies-section-header
{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    color: white;
    padding-right: 15px;
}   

.section-title
{
    font-size: 21px;
    font-weight: 600;
}

.va 
{
    font-weight: 500;
    opacity: .7;
    transition: .2s;
    cursor: pointer;
}

.va:hover
{
    opacity: 1;
}

.movies 
{
    width: 100%;
    /* background-color: gray; */
    margin-top: 5px;
    position: relative;
    overflow: hidden;
}

.swiper-left 
{
    background:linear-gradient(88deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    position: absolute;
    height: 100%;
    width: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: white;
    z-index: 20;
}

.swiper-right
{
    background:linear-gradient(269.25deg,#0f1014 0.62%,rgba(15,16,20,0) 99.33%);
    position: absolute;
    height: 100%;
    right: 0;
    width: 3%;
    display: flex;
    justify-content:center;
    
    align-items: center;
    font-size: 22px;
    color: white;
    z-index: 20;
}

.slider 
{
    width:fit-content;
    /* background-color: purple; */
    display: flex;
    column-gap: 8px;
    padding: 10px;
   transition: .8s;
}

.movie 
{
    height: 315px;
    width: 237px;
    /* background-color: blue; */
    overflow: hidden;
   
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.movie-img-wrapper
{
    height: 315px;
    width: 237px;
   
    border-radius: 10px;
    position: absolute;
   
}

.movie-img
{
   width: 237px;
   margin-top: -50px;
   
}



.movie-card 
{
    width: 336px;
    height: 450px;
    background-color: blue;
    position:absolute;
    z-index: 100;
   
}

.movies-top .movie
{
    width: 276px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.top
{
    margin-left: -30px;
    width: 278px;
    position: absolute;
}

.brands 
{
    width: 100%;
    padding: 10px 10px;
    background-color: #0f1014;
    display: flex;
    column-gap: 8px;
}

.brand 
{
    width: 281px;
    height: 158px;
    background-color: blue;
    border-radius: 10px;
    overflow: hidden;
}

.brand img 
{
    width: 100%;
}


/* sports section css  */

.sports 
{
    width: 100%;
    padding: 10px 0px 10px 10px;
    background-color: #0f1014;
    color: white;
    position: relative;
    overflow: hidden;
}



.sport 
{
    width: 340px;
    /* background-color: blue; */
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
}

.sport:hover
{
    background:hsla(0,0%,100%,.08);
    transform: scale(1.03);
    z-index: 10;
}

.sport-img 
{
    width: 100%;
    height: 191px;
    background-color: green;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

}

.sport-img img 
{
    width: 100%;
    position: absolute;
} 

.sport-img i 
{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

.sports-title 
{
    font-size: 17px;
    font-weight: 600;
    margin-top: 5px;
    padding: 0px 10px;
}

.sports-description
{
    font-size: 13px;
    font-weight: 400;
    margin-top: 5px;
    padding: 0px 10px;
    padding-bottom: 5px;
    opacity: 0;
    transition: .3s;
    font-weight: 200;
    word-spacing: 2px;
    
}

.sport:hover .sports-description
{
   opacity: .7;
}


.footer p{
    font-weight:600;
    color: #807c73;
    
}
.footer{
    display: flex;
    /* background-color: #16181f !important; */
}

.pe-5{
    padding-right:100px !important;
}

.lasticons{
    display: flex;
}